body {
    margin: 40px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box:nth-child(even) {
    background-color: #ccc;
    color: #000;
}

/* auto-fill */
.wrapper {
    border: 1px solid #000;
    margin-bottom: 2em;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* auto-fit */
.wrapper2 {
    border: 1px solid #000;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}